In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import os

In [3]:
os.listdir()

['.ipynb_checkpoints',
 'movies.csv',
 'przemysl-filmowy.ipynb',
 'przemysł-filmowy.py',
 'README.md']

In [21]:
plik = 'movies.csv'
data = pd.read_csv(plik, encoding='cp1252')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6820 entries, 0 to 6819
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   budget    6820 non-null   float64
 1   company   6820 non-null   object
 2   country   6820 non-null   object
 3   director  6820 non-null   object
 4   genre     6820 non-null   object
 5   gross     6820 non-null   float64
 6   name      6820 non-null   object
 7   rating    6820 non-null   object
 8   released  6820 non-null   object
 9   runtime   6820 non-null   int64
 10  score     6820 non-null   float64
 11  star      6820 non-null   object
 12  votes     6820 non-null   int64
 13  writer    6820 non-null   object
 14  year      6820 non-null   int64
dtypes: float64(3), int64(3), object(9)
memory usage: 799.3+ KB

In [22]:
data.head()

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
0,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,Stephen King,1986
1,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,John Hughes,1986
2,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,Jim Cash,1986
3,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,James Cameron,1986
4,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,Mark H. Baker,1986

In [36]:
braki_danych = pd.concat([data.isnull().sum()], axis = 1, keys = ["Brakujące dane:"])
print(braki_danych)

          Brakujące dane:
budget                  0
company                 0
country                 0
director                0
genre                   0
gross                   0
name                    0
rating                  0
released                0
runtime                 0
score                   0
star                    0
votes                   0
writer                  0
year                    0